---
- hosts: localhost
  gather_facts: yes
  become: no
  vars:
    ansible_python_interpreter: /usr/bin/python3
    ansible_host_key_checking: no
    validate_certs: no
  tasks:
  - name: Load host and group variables
    include_vars:
      file: "{{ item }}"
    loop:
      - "../inventory/host_vars/ilo-esxi"
      - "../inventory/group_vars/ilo-esxi"
    tags: always

  - name: Load secrets from vault (if exists)
    include_vars:
      file: "../inventory/group_vars/secrets.yml"
    ignore_errors: yes
    no_log: true
    tags: always

  - name: Verify ESXi root password is set (required for ISO generation)
    fail:
      msg: |
        ESXi root password not set. Use one of these methods:
        1. Environment variable: export ESXI_ROOT_PASSWORD='password'
        2. Ansible Vault with secrets.yml
    when: root_password is not defined or root_password == ''
    tags: iso

  - name: Verify BMC credentials are set (required for provisioning)
    fail:
      msg: |
        BMC credentials not set. Use one of these methods:
        1. Environment variables:
           export ILO_USER='admin'
           export ILO_PASSWORD='password'
        2. Ansible Vault with secrets.yml
    when: ilo_pass is not defined or ilo_pass == ''
    tags: ilo

  # Note: python-hpilo is only needed for HPE iLO, not Dell iDRAC
  # - name: Ensure python-hpilo is installed system-wide
  #   pip:
  #     name: python-hpilo
  #     state: present
  #   become: yes
  #   tags: always

  - name: Block Generate ISO with KS file
    block:
            - name: Mount VMware ISO file and copy files
              include_role:
                      name: copy-iso-mount
              run_once: true

            - name: Copy Custome BOOT Files
              include_role:
                      name: vm-custome-boot
              run_once: true

            - name: Generate Kickstart File
              include_role:
                      name: vm-ks
              run_once: true

            - name: Generate ISO
              include_role:
                      name: vm-gen-iso
              run_once: true

            - name: Make UEFI ISO
              include_role:
                      name: iso-uefi
              run_once: true

            - name: Clean Deploy Stage
              include_role:
                      name: clean-stage
              run_once: true
    tags: iso
###----------------------------------------------###
  - name: Use ISO to boot iDRAC
    block:
            - name: Using Prepared ISO file to Boot Dell iDRAC
              include_role:
                      name: idrac-provisioning
    tags: ilo
###----------------------------------------------###


...





